*{
    background-color: "#eee"
}
img{
    width: 20vw;
    height: auto;
}

.container1{
    width: 90vw;
    margin:5vw;
}
.container2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container2, section{
    padding: 1vw;
    border: 1px solid rgb(228, 228, 228);
    margin:1vw;

}
.container3, .container4, .container5{
    margin:1vw;
}
.container3{
    margin:1vw;
}