.card {
  box-sizing: border-box;
  width: auto;
  height: auto;
  background: rgba(217, 217, 217, 0.58);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin: 1vw;
  flex-direction: column;


}

.card:hover {
  border: 1px solid black;
  transform: scale(1.01);
  background: rgba(240, 239, 239, 0.58);
}

.shipment-info {
  display: flex;
  flex-direction: column;
  /* padding: ;
  margin: ; */
  border: 1px solid rgba(255, 255, 255, 0.552);
}

.shipment-address {
  display: flex;
  flex-direction: row;
}

/* .pickup-address,
  .delivery-address {
    flex: 1;
    padding:1vh;
    margin:1vh;
    border: 1px solid rgba(255, 255, 255, 0.552);
  } */

.detailsbutton {

  display: flex;
  justify-content: space-evenly;
}

.detailsbutton:hover {

  border-color: white;

}